.header {
  height: 60px;
  width: 100%;
  max-width: 1405px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xs);
  margin-right: var(--mantine-spacing-xs);
  margin-top: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-xs);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(42px);
    width: 100%;
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
  }
}

.dropdownFooter {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.burger-menu {
  display: none;
}

.navbar-items {
  display: flex;
}

@media (max-width: 768px) {
  .header {
    border-radius: 0;
    margin-left: var(--mantine-spacing-xs) 10%;
    margin-right: var(--mantine-spacing-xs) 10%;
    margin-top: var(--mantine-spacing-xs) 10%;
    margin-bottom: var(--mantine-spacing-xs) 10%;
  }
  .burger-menu {
    display: block;
  }

  .navbar-items {
    display: none;
  }
}

.fullScreenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  top: 60px;
  height: calc(100% - 60px);
  z-index: 9999;
  flex-direction: column;
  background-color: black;
}

.dropdownlink {
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 50px;
}
